{% extends 'base.html.twig' %}

{% block title %}Liste des armes
{% endblock %}

{% block body %}
	{% for arme in weapons %}
		<div>
			<div
				class="col-2">{# <img src="" alt=""> #}
			</div>
			<div>
				<a href="{{path('show_weapon', {'name':arme.name})}}" >{{arme.name}}</a>
			</div>
		</div>

	{% endfor %}
{% endblock %}
